# Environment
.env

# Spotify cache
.cache

# Python
__pycache__/
*.pyc

# macOS
.DS_Store

# Generated Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# VS Code
.vscode/